<div class="panel box box-success">
    <div class="box-header with-border">
        <h4 class="box-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Glam Squad Trivia
            </a>
            <span class="hidden">3</span>
        </h4>
        <ul><li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li></ul>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="box-body">
            <!-- info row -->
            <div class="row service-info">
                <div class="col-sm-4 invoice-col">
                    <strong>BASIC</strong>
                    <address>
                        Date Created : <i>30 January 2018</i><br>
                        Description: <i>This is a description</i><br>
                        Service Type: <i>Trivia</i><br>
                        Service Keywords: <i class="keywords">GLAM, GL, LGLAM</i> &nbsp; &nbsp;<i class="fa fa-edit basic" title="Click to edit current keywords"></i><br>
                        Cross Sell References: <i class="crossell">Beauty Promo, Love Tips</i> &nbsp; &nbsp;<i class="fa fa-edit basic" title="Click to edit current crossell reference"></i><br>
                        Promotion Date: <i><input type="text" class="daterange_promo" value="01/01/2017 - 01/31/2017" /></i><br>
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>BROADCAST</strong>
                    <address>
                        Enable: &nbsp; &nbsp; &nbsp;<input type="checkbox" class="broadcast" data-size="mini" checked><br>
                        Type: &nbsp; &nbsp; &nbsp;<input type="checkbox" class="broadcast_type" data-size="mini" data-on-text="Startup" data-off-text="Today" checked><br>
                        Length: <div class="input-group input-group-sm col-xs-2"><input type="text" class="form-control broadcast_length" value="1"/></div>
                        Cross Sell:  &nbsp; &nbsp; &nbsp;<input type="checkbox" class="broadcast_crossell" data-size="mini" checked><br>
                        Cross Sell Upon Subscription: &nbsp; &nbsp; &nbsp;<input type="checkbox" class="broadcast_crossell_sub" data-size="mini" checked><br>
                        TPS Allocated: <div class="input-group input-group-sm col-xs-2"><input type="text" class="form-control broadcast_tps" value="100"/></div>
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>SDP Config</strong>
                    <address>
                        SP ID: <i>270110000556</i><br>
                        SP PASSWORD: <i>bmeB500</i><br>
                        Service ID: <i>27012000002196</i><br>
                        Product ID: <i>2701220000001668</i><br>
                        ShortCode: <i>10831</i><br>
                        Billing Rate: <i>ZAR</i><div class="input-group input-group-sm col-xs-2"><input type="text" class="form-control sdp_bill_rate" value="2.00"/></div>
                        Free Period: * for a free service set to the duration of the campaign. <div class="input-group input-group-sm col-xs-2"><input type="text" class="form-control sdp_free_period" value="30"/></div>
                    </address>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table service messages references -->
            <div class="row">
                <div class="col-xs-6">
                    <p class="lead">Service Messages References:</p>
                </div>
            </div>
            <div class="row service-reference">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Service</th>
                            <th>Message</th>
                            <th>Correct Response</th>
                            <th>Incorrect Response</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Welcome</td>
                            <td>Trivia Game</td>
                            <td>Welcome to Glam Squad Trivia! Score your chance to be the next winner of a share of R1million in Prizes with Glam Squad Trivia. To opt out send STOP to 30831.</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><i class="fa fa-edit reference" title="Click to edit current reference"></i></td>
                        </tr>
                        <tr>
                            <td>Cross Sell</td>
                            <td>Love Tips</td>
                            <td>Discover Love Tips and a chance to win R30,000 in monthly prizes! First 3 days FREE, R1,50/day thereafter! A.YES B.NO C.Later</td>
                            <td>Fantastic! You are on your way to win in monthly prizes for beauty tips. Check your incoming sms to confirm</td>
                            <td>Oops! Better luck next time!</td>
                            <td><i class="fa fa-edit reference" title="Click to edit current reference"></i></td>
                        </tr>
                        <tr>
                            <td>Cross Sell</td>
                            <td>Beauty Promo</td>
                            <td>Discover Beauty Tips and a chance to win R15,000 in monthly prizes! First 7 days FREE, R1,50/day thereafter! A.YES B.NO C.Later</td>
                            <td>Excellent! More beauty tips coming your way! Check your incoming sms to confirm</td>
                            <td>Almost had it! But don't give up</td>
                            <td><i class="fa fa-edit reference" title="Click to edit current reference"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table service messages references -->
            <div class="row">
                <div class="col-xs-6">
                    <p class="lead">Service Contents: <a href="#" class="btn btn-primary content-upload" title="upload contents"><i class="fa fa-cloud-upload"></i> Upload</a></p>
                </div>
            </div>
            <div class="row service-contents">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>Correct Response</th>
                            <th>Incorrect Response</th>
                            <th>Score</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr content_id="1">
                            <td>To avoid stripping your hair of natural oils, how often should you wash your hair? A.Everyday B.Once weekly C.Once a month</td>
                            <td>B</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-11</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        <tr content_id="2">
                            <td>Water helps maintain radiant skin and healthy hair. How much water should you be drinking per day? A.When dehydrated B.5 litres C.8 glasses </td>
                            <td>C</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-11</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        <tr content_id="3">
                            <td>How long does it take your skin to renew itself?  A.2 years B.28 days  C.1 week</td>
                            <td>C</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-12</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        <tr content_id="3">
                            <td>What will help lead to a healthy, glowing complexion?  A.Eating junk food  B.Getting enough sleep C.Swimming in the sea</td>
                            <td>C</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-13</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        <tr content_id="4">
                            <td>What will help lead to a healthy, glowing complexion?  A.Eating junk food  B.Getting enough sleep C.Swimming in the sea</td>
                            <td>C</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-14</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        <tr content_id="5">
                            <td>What will help lead to a healthy, glowing complexion?  A.Eating junk food  B.Getting enough sleep C.Swimming in the sea</td>
                            <td>C</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-15</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        <tr content_id="6">
                            <td>What will help lead to a healthy, glowing complexion?  A.Eating junk food  B.Getting enough sleep C.Swimming in the sea</td>
                            <td>C</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-16</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        <tr content_id="7">
                            <td>What will help lead to a healthy, glowing complexion?  A.Eating junk food  B.Getting enough sleep C.Swimming in the sea</td>
                            <td>C</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-17</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        <tr content_id="17">
                            <td>What will help lead to a healthy, glowing complexion?  A.Eating junk food  B.Getting enough sleep C.Swimming in the sea</td>
                            <td>C</td>
                            <td>Spot on! You're on the road to winning!</td>
                            <td>It's best to wash your hair once a week. Keep trying!</td>
                            <td>10</td>
                            <td>2017-05-18</td>
                            <td><i class="fa fa-edit service-content"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>